@import "tailwindcss";
@layer base {
	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

input,
textarea,
select {
	@apply border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500;
}
button {
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
}
